
.cards_wrapper{
  text-align: center;
  position: relative;
}

.cards_items{
  padding: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
}
.card_container{
  position: relative;
  height: 85%;
  width: 85%;
  list-style: none;
  margin: auto;
}

.card_img{
  width: 90%;
  height: 90%;
  margin: auto;
  box-shadow: 2px 5px 16px 0px #0B325E;
}

.card_img img{
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
}

.card_container Link{
  text-decoration: none;
}

.card_container Link:hover{
  text-decoration: none;
}


.card_img h5{
  background-color: rgb(224, 178, 77);
  position: absolute;
  bottom: -2%;
  left: 6%;
  color:black;
  z-index: 10;
}


.card_container:hover{
  overflow: hidden;
  scale: 1.1;
  transition: all .3s ease;
}


@media(min-width: 992px){

}


@media(min-width: 768px) and (max-width: 991px){

}


@media (max-width: 767px){

  .cards_items{
    flex-direction: column;
    margin-bottom: 0;
    padding: 0px;
  }
  .card_container{
    padding: 15px 0;
  }

  .card_img h5{
    background-color: rgb(224, 178, 77);
    position: absolute;
    bottom: 5%;
    left: 6%;
    color:black;
    z-index: 10;
  }
}


@media (max-width: 574px){
  .cards_items{
    flex-direction: column;
  }
}


@media(max-width: 479px){

}